* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body,
html {
    margin: 0;
}
#container {
    width: 100%;
    max-width: 640px;
    margin: auto;
}
header {
    width: 100%;
    max-width: 640px;
    height: 60px;
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}
.header__search {
    display: flex;
    align-items: center;
}
button,
input,
select {
    height: 30px;
    border: 0.5px solid darkolivegreen;
}
main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
}
img {
    width: 200px;
    height: 200px;
}
.more,
.toTheTop {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    cursor: pointer;
}
.more {
    color: bisque;
    background-color: darkolivegreen;
    left: 100px;
    bottom: 100px;
}
.toTheTop {
    color: bisque;
    background-color: darkolivegreen;
    right: 100px;
    bottom: 100px;
}
