* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 3px;
}

.container {
    height: 100%;
    background-color: rgb(241, 243, 108);
}

.chat-screen{
    height:calc(100% - 90px);
    overflow: scroll;
}

.user {
    background-color: rgb(101, 255, 140);
    padding: 16px;
    height: 80px;
}

.user_column {
    float: left;
}

.user__pic {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    background-image: url(images/image.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.user__nick, .user__count {
    margin: 3px;
}
.user__nick{
    margin-left: 15px;
    font-size: 15px;
}

.user__count {
    font-size: 12px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.chat-form {
    height: 90px;
    background-color: rgb(255, 255, 255);
}

.chat-form__field {
    height: 120px;
}

.chat-from_msg {
    float: left;
    width: calc(100% - 90px);
    height: 120px;
    border: none;
    resize: none;
    font-size: 18px;
    padding: 10px;
    
}

.chat-form_bt {
    float: right;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
}

.chat-from_msg:focus {
    outline: none;
}

.chat-form_bt:active {
    background-color: rgb(236, 83, 172);
}